<!-- /templates/page.liquid -->
<div id="stockist" class="grid page">

  <div class="grid__item push--large--one-twelfth large--ten-twelfths">

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>
